@using global::Shared.Configs
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using Microsoft.Extensions.Options
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@inject IOptions<ApplicationConfig> Options
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Identity/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container">
            <a class="navbar-brand" href="/">@Options.Value.Title</a>
            <div class="navbar-collapse" [class.collapse]="collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="navbar-text">Version: @Options.Value.Version</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div>
    <main role="main" class="container my-5">
        <div class="card">
            <div class="card-body">
                <p><a href="/">← 返回到评测系统</a></p>
                @RenderBody()
            </div>
        </div>
    </main>
</div>
<script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Identity/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>